h1 {
    text-align: center;
  }

h6 {
    color: grey;
}

body {

  font-family: 'Roboto', sans-serif;
}

li {
    font-size: 18px;
}

p  {
  font-size: 18px}

  figcaption{
    color: grey;
    </figcaption>
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

img {
    width: 625px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

figure{
display: block;
margin-left: 25%;
margin-right: 25%;

}

a
  {color: gray;
  text-decoration: none;}
/* div.background-text-box {} */
